<%= form_with(model: addbook, local: true) do |form| %>
  <% if addbook.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(addbook.errors.count, "error") %> prohibited this addbook from being saved:</h2>

      <ul>
      <% addbook.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :addbook_name %>
  </div>

  <div class="field">
    <%= form.label :addr %>
    <%= form.text_field :addr, id: :addbook_addr %>
  </div>

  <div class="field">
    <%= form.label :addyear %>
    <%= form.text_field :addyear, id: :addbook_addyear %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
