<p id="notice"><%= notice %></p>

<h1>Addbooks</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Addr</th>
      <th>Addyear</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @addbooks.each do |addbook| %>
      <tr>
        <td><%= addbook.name %></td>
        <td><%= addbook.addr %></td>
        <td><%= addbook.addyear %></td>
        <td><%= link_to 'Show', addbook %></td>
        <td><%= link_to 'Edit', edit_addbook_path(addbook) %></td>
        <td><%= link_to 'Destroy', addbook, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Addbook', new_addbook_path %>
